*{
			box-sizing: border-box;
			background-color: #E0FFFF;
			font-family: Arial, Helvetica, sans-serif;
		}
		h1{
			font-style: italic;
			font-size: 40px;
			text-align: center;
		}
		p{
		   padding: 10px;
		   margin-right: auto;
		   margin-left: auto;
		   text-align: center; 	
		   overflow: auto;
		  
		}
		#p1{
			background-color: #20B2AA;
			width: 80%;
			margin-top: 10px;
            color: black;
            font-size: 19px;
		}
        #p2{
        	background-color: #8FBC8B;
        	margin-bottom: 0px;
			width: 50%;
			font-size: 30px;	
        }
		/** destop screen **/
		@media(min-width: 992px){
			.col-md-4{
				float: left; 
		}
		.col-md-4{
			width:33.33%;
        }
		}
		/** tablet screen **/
		@media(min-width: 768px) and (max-width: 991px){
			.col-sm-6, .col-sm-12 {
				float: left; 
				
			}
			.col-sm-6{
				width: 50%
			}
			.col-sm-12{
				width: 100%
			}
		}
